.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
}

.bottomParagraph {
    composes: bottomParagraph from '../StepPhoneEmail/StepPhoneEmail.module.css';
}

.actionButtonWrap {
    composes: actionButtonWrap from '../StepPhoneEmail/StepPhoneEmail.module.css';
}